{%  extends "account/account_auth_base.html" %}
{% load static %}


{% block title %}
<title>Register </title>
{% endblock %}
{% block content %}
<div class="d-flex flex-column-fluid flex-center">
    <div class="login-form login-signin">
        <!--begin::Form-->
        <form class="form"  method='post'>
        {% csrf_token %}
            <!--begin::Title-->
            <div class="pb-13 pt-lg-0 pt-5">
                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Sign Up</h3>
                <p class="text-muted font-weight-bold font-size-h4">Enter your details to create your account</p>
            </div>
            <!--end::Title-->
            <!--begin::Form group-->
            <div class="form-group">
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="First Name" name="first_name" autocomplete="off" required/>
            </div>
             <div class="form-group">
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="Last Name" name="last_name" autocomplete="off" required /> 
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="email" placeholder="Student Email" name="email" autocomplete="off"  required/>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Gender</label>
                <div class="col-9 col-form-label">
                    <div class="radio-inline">
                        <label class="radio radio-success">
                            <input type="radio" name="gender" value='male' />
                            <span></span>
                            Male
                        </label>
                        <label class="radio radio-success">
                            <input type="radio" name="gender" value='female' />
                            <span></span>
                            Female
                        </label>
                    </div>
                    <span class="form-text text-muted">Select your gender</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Are you a disable student</label>
                <div class="col-9 col-form-label">
                    <div class="radio-inline">
                        <label class="radio radio-success">
                            <input type="radio" name="disable" value='yes' />
                            <span></span>
                            Yes
                        </label>
                        <label class="radio radio-success">
                            <input type="radio" name="disable" value='no' />
                            <span></span>
                            No
                        </label>
                    </div>
                    <span class="form-text text-muted">Select disability status</span>
                </div>
            </div>
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group">
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" placeholder="Password" name="password" autocomplete="off" required/>
            </div>
            <div class="form-group">
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" placeholder="Confirm Password" name="password2" autocomplete="off" required/>
            </div>
            <!--begin::Form group-->
            {% comment %} <div class="form-group">
                <label class="checkbox mb-0">
                <input type="checkbox" name="agree" />I Agree the
                <a href="#">terms and conditions</a>.
                <span></span></label>
            </div> {% endcomment %}
            <!--end::Form group-->
            <!--begin::Form group-->
            <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
                <button type="submit" id="kt_login_signup_submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Submit</button>
                {% comment %} <button type="cancel" id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">Clear Fields</button> {% endcomment %}
            </div>
            <!--end::Form group-->
        </form>
        <!--end::Form-->
    </div>
</div>
{% endblock %}
