
{% extends "base.html" %}

{% load static %}
{% block title %}
   <title>Home</title>
{% endblock %}

{% block subheader  %}
    {% comment %} {% include 'in_page_title.html' with page='Available Hostels' %} {% endcomment %}
{% endblock %}

{% block page_content %}

{% if hostels %}
<div class="flex-row ml-lg-8">
    <!--begin::Row-->

    <div class="row">
        <!--begin::Col-->
        {% for hostel in hostels %}
        <div class="col-xl-3">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Wrapper-->
                    <div class="d-flex justify-content-between flex-column h-100">
                        <!--begin::Container-->
                        <div class="h-100">
                            <!--begin::Header-->
                            <div class="d-flex flex-column flex-center">
                                <!--begin::Image-->
                                {% if  hostel.image %}
                                    <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url({{  hostel.image.url }})"></div>
                                {% else %}
                                    <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url({% static 'assets/media/stock-600x400/img-70.jpg' %})"></div>
                                {% endif %}
                                <!--end::Image-->
                                <!--begin::Title--> 
                                <a href="{% url 'hostels:hostel_details' hostel.uuid %}" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">{{ hostel.name }}</a>
                                <!--end::Title-->
                            </div>
                        </div>
                        <!--eng::Container-->
                        <!--begin::Footer-->
                        <div class="d-flex flex-center"  data-toggle="tooltip" title="" data-placement="right" data-original-title="View Hostel">
                            <a href="{% url 'hostels:hostel_details' hostel.uuid %}" class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" >{{custom_data}} View Hostel</a>
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </div>
        {% endfor %}
        <!--end::Col-->
        
        <!--end::Col-->
    </div>
    <!--end::Row-->
</div>
{% else%}
{% include 'empty.html' with title='All hostels are currently occupied' description='We regret to inform you that all our hostels are currently fully occupied. We understand that this may cause inconvenience, especially if you were looking to make a booking.'  %}
{% endif %}
{% endblock %}



 <div class="flex-md-row-auto w-md-275px w-xl-325px">
        <!--begin::Nav Panel Widget 3-->
    <div class="card card-custom gutter-b">
        <!--begin::Body-->
        <div class="card-body">
            <!--begin::Wrapper-->
            <div class="d-flex justify-content-between flex-column h-100">
                <!--begin::Container-->
                <div class="h-100">
                    <!--begin::Header-->
                    <div class="d-flex flex-column flex-center">
                        <!--begin::Image-->
                        <div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url({% static 'assets/media/stock-600x400/img-70.jpg' %})"></div>

                        <!--end::Image-->
                        <!--begin::Title--> 
                        <a href="./#" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">Hopkins High Hostel</a>
                        <!--end::Title-->
                    </div>
                </div>
                <!--eng::Container-->
                <!--begin::Footer-->
                <div class="d-flex flex-center" id="kt_sticky_toolbar_chat_toggler_2" data-toggle="tooltip" title="" data-placement="right" data-original-title="Book Hostel">
                    <button class="btn btn-primary font-weight-bolder font-size-sm py-3 px-14" data-toggle="modal" data-target="#kt_chat_modal">Book Hostel</button>
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Nav Panel Widget 3-->
    <!--begin::List Widget 17-->
</div> 