{% extends "base.html" %}

{% block title %}
   <title>Hostels | Application </title>
{% endblock %}

{% block subheader  %}
    {% include 'in_page_title.html' with page='Hostel Application' %}
{% endblock %}

{% block page_content %}
<div class="card card-custom card-sticky" id="kt_page_sticky_card">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Hostel Application
            <i class="mr-2"></i>
            <small class="">Fill in your details below</small></h3>
        </div>
        <div class="card-toolbar">
            <a href="#" class="btn btn-light-primary font-weight-bolder mr-2">
            <i class="ki ki-long-arrow-back icon-xs"></i>Back</a>
            <div class="btn-group">
                <button type="button" class="btn btn-primary font-weight-bolder">
                <i class="ki ki-check icon-xs"></i>Save Form</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <ul class="nav nav-hover flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon flaticon2-reload"></i>
                                <span class="nav-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon flaticon2-add-1"></i>
                                <span class="nav-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon flaticon2-power"></i>
                                <span class="nav-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!--begin::Form-->
        <form class="form" id="kt_form">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <div class="my-5">
                        <h3 class="text-dark font-weight-bold mb-10">Customer Info:</h3>
                        <div class="form-group row">
                            <label class="col-3">First Name</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="Nick" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Last Name</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="Watson" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Company Name</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="Loop Inc." />
                                <span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Contact Phone</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-phone"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="+45678967456" placeholder="Phone" />
                                </div>
                                <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Email Address</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-at"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="nick.watson@loop.com" placeholder="Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Company Site</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" value="loop" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="my-5">
                        <h3 class="text-dark font-weight-bold mb-10">Address Details:</h3>
                        <div class="form-group row">
                            <label class="col-3">Country</label>
                            <div class="col-9">
                                <select class="form-control">
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="CW">Curaçao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Address Line 1</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="District 6 1352 W. Olive Ave" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Address Line 2</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="Fresno 559-488-4020" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">City</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="Polo Alto" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">State / Province / Region</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="Los Angeles" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Zip / Postal Code</label>
                            <div class="col-9">
                                <input class="form-control" type="text" value="780456" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3"></label>
                            <div class="col-9">
                                <div class="checkbox-inline">
                                    <label class="checkbox">
                                    <input type="checkbox" />
                                    <span></span>Use as shipping address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="my-5">
                        <h3 class="text-dark font-weight-bold mb-10">Account:</h3>
                        <div class="form-group row">
                            <label class="col-3">Username</label>
                            <div class="col-9">
                                <div class="spinner spinner-sm spinner-success spinner-right spinner-input">
                                    <input class="form-control" type="text" value="nick84" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Email Address</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-at"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="nick.watson@loop.com" placeholder="Email" />
                                </div>
                                <span class="form-text text-muted">Email will not be publicly displayed.
                                <a href="#">Learn more</a>.</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Language</label>
                            <div class="col-9">
                                <select class="form-control">
                                    <option>Select Language...</option>
                                    <option value="id">Bahasa Indonesia - Indonesian</option>
                                    <option value="msa">Bahasa Melayu - Malay</option>
                                    <option value="ca">Català - Catalan</option>
                                    <option value="cs">Čeština - Czech</option>
                                    <option value="da">Dansk - Danish</option>
                                    <option value="de">Deutsch - German</option>
                                    <option value="en" selected="selected">English</option>
                                    <option value="en-gb">English UK - British English</option>
                                    <option value="es">Español - Spanish</option>
                                    <option value="eu">Euskara - Basque (beta)</option>
                                    <option value="fil">Filipino</option>
                                    <option value="fr">Français - French</option>
                                    <option value="ga">Gaeilge - Irish (beta)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Time Zone</label>
                            <div class="col-9">
                                <select class="form-control">
                                    <option data-offset="-39600" value="International Date Line West">(GMT-11:00) International Date Line West</option>
                                    <option data-offset="-39600" value="Midway Island">(GMT-11:00) Midway Island</option>
                                    <option data-offset="-39600" value="Samoa">(GMT-11:00) Samoa</option>
                                    <option data-offset="-36000" value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option data-offset="43200" value="Kamchatka">(GMT+12:00) Kamchatka</option>
                                    <option data-offset="43200" value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
                                    <option data-offset="43200" value="Auckland">(GMT+12:00) Auckland</option>
                                    <option data-offset="43200" value="Wellington">(GMT+12:00) Wellington</option>
                                    <option data-offset="46800" value="Nuku'alofa">(GMT+13:00) Nuku'alofa</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Communication</label>
                            <div class="col-9">
                                <div class="checkbox-inline">
                                    <label class="checkbox">
                                    <input type="checkbox" checked="checked" />
                                    <span></span>Email</label>
                                    <label class="checkbox">
                                    <input type="checkbox" checked="checked" />
                                    <span></span>SMS</label>
                                    <label class="checkbox">
                                    <input type="checkbox" />
                                    <span></span>Phone</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="my-52">
                        <h3 class="text-dark font-weight-bold mb-10">Security:</h3>
                        <div class="form-group row">
                            <label class="col-3">Login verification</label>
                            <div class="col-9">
                                <button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Setup login verification</button>
                                <div class="form-text text-muted mt-3">After you log in, you will be asked for additional information to confirm your identity and protect your account from being compromised.
                                <a href="#">Learn more</a>.</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Password reset verification</label>
                            <div class="col-9">
                                <div class="checkbox-inline">
                                    <label class="checkbox mb-2">
                                    <input type="checkbox" />
                                    <span></span>Require personal information to reset your password</label>
                                </div>
                                <div class="form-text text-muted">For extra security, this requires you to confirm your email or phone number when you reset your password.
                                <a href="#" class="font-weight-bold">Learn more</a>.</div>
                            </div>
                        </div>
                        <div class="form-group row mt-10">
                            <label class="col-3"></label>
                            <div class="col-9">
                                <button type="button" class="btn btn-light-danger font-weight-bold btn-sm">Deactivate your account ?</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>
{% endblock %}